apiVersion: apps/v1
kind: Deployment
metadata:
  name: shanari-shanari-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: shanari-shanari-
  template:
    metadata:
      labels:
        app: shanari-shanari
    spec:
      imagePullSecrets:
        - name: argocd-gcp-secret
      containers:
        - name: shanari-shanari-fe
          image: asia-northeast1-docker.pkg.dev/shanari-shanari/shanari-shanari/shanari-shanari-fe
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
          ports:
            - containerPort: 3000
